<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <meta name="description" content="<%= htmlWebpackPlugin.options.metadata.description %>">
  <% if (htmlWebpackPlugin.options.metadata.isDevServer && htmlWebpackPlugin.options.metadata.HMR !== true) { %>
  <!-- Webpack Dev Server reload -->
  <script src="/webpack-dev-server.js"></script>
  <% } %>
  <link rel="manifest" href="<%= htmlWebpackPlugin.options.metadata.publicPath %>manifest.json">
  <link href="https://fonts.googleapis.com/css?family=Roboto:700,400|Open+Sans:400" rel="stylesheet">
  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css">
</head>

<body>
  <div class="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed is-center">
      <span class="home-menu-bar">PROGRESSIVE WEB APPS for FE <br /><small>By Technocrats</small></span>
    </div>
  </div>
  <div class="splash-container"> </div>
  <div class="content-wrapper">
    <div class="content">
      <h2 class="content-head is-center">Features of PWA</h2>
      <div class="pure-g">
        <div class="pure-u-1 pure-u-md-1-3 feature-grid-cell feature-grid-fast">
          <div class="feature-grid-cell-pad">
            <h3 class="content-subhead">
              <i class="fa fa-rocket"></i>
              Fast
            </h3>
            <p>
              Respond quickly to user interactions with silky smooth animations and no janky scrolling.
            </p>
          </div>
        </div>
        <div class="pure-u-1 pure-u-md-1-3 feature-grid-cell feature-grid-reliable">
          <div class="feature-grid-cell-pad">
            <h3 class="content-subhead">
              <i class="fa fa-signal"></i>
              Reliable
            </h3>
            <p>
              Loads instantly and it can work offline even in uncertain network conditions.
            </p>
          </div>
        </div>
        <div class="pure-u-1 pure-u-md-1-3 feature-grid-cell feature-grid-safe">
          <div class="feature-grid-cell-pad">
            <h3 class="content-subhead">
              <i class="fa fa-user-secret"></i>
              Safe
            </h3>
            <p>
              Uses secure HTTPs for all its communications.
            </p>
          </div>
        </div>
        <div class="pure-u-1 pure-u-md-1-3 feature-grid-cell feature-grid-engaging">
          <div class="feature-grid-cell-pad">
            <h3 class="content-subhead">
              <i class="fa fa-handshake-o"></i>
              Engaging
            </h3>
            <p>
              web push notifications, immersive full screen experience, control screen orientation, home screen icon
              etc.,
            </p>
          </div>
        </div>
        <div class="pure-u-1 pure-u-md-1-3 feature-grid-cell feature-grid-discover">
          <div class="feature-grid-cell-pad">
            <h3 class="content-subhead">
              <i class="fa fa-search-plus"></i>
              Discoverable
            </h3>
            <p>
              Searchable and listed on search engine result pages.
            </p>
          </div>
        </div>
        <div class="pure-u-1 pure-u-md-1-3 feature-grid-cell feature-grid-installable">
          <div class="feature-grid-cell-pad">
            <h3 class="content-subhead">
              <i class="fa fa-hdd-o"></i>
              Installable
            </h3>
            <p>
              It is easily installable from the web.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="ribbon l-box-lrg pure-g content">
      <div class="l-box-lrg is-center pure-u-1 pure-u-md-1-2 pure-u-lg-2-5">
        <img width="300" alt="Native Apps vs PWA" class="img-native-vs-pwa pure-img-responsive"
          src="img/native-apps-vs-pwa.jpg">
      </div>
      <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-3-5">

        <h2 class="content-head content-head-ribbon">Why PWA compared to Native Apps?</h2>
        <ul class="styled-list">
          <li>It supports reusability of code across different platforms i.e., Html, JavaScript and CSS</li>
          <li>Learn one language and apply everywhere i.e, JavaScript</li>
          <li>It is written in JavaScript - a well known language with largest ecosystem and community</li>
          <li>It can be integrated into an existing website and enhance user experience in modern browser that supports
            PWA. So, existing customers can directly benefit from it.</li>
          <li>It can benefit from the site's popularity.</li>
          <li>Reduces installation friction</li>
          <li>Updates to PWA is immediately delivered to customers.</li>
          <li>Smaller file downloads during incremental updates</li>
          <li>Supports sharing application through URL</li>
          <li>PWA coupled with AMP(Accelerated Mobile Pages) provides faster initial load and smooth, cached subsequents
            requests.</li>
        </ul>
      </div>
    </div>

    <div class="content">
      <h2 class="content-head is-center">Feature 1: Cache content for Offline access</h2>
      <div class="pure-g">
        <div class="l-box-lrg pure-u-1">
          <p>
            Service worker script can be enabled for entire domain. If added to the site root, it gets activated on page
            load and starts caching the site assets and request originating for entire domain in the user’s browser
            cache/storage based on configured routes. Once cached, next time application can load instantly even
            work without network.
          </p>
          <p>Typical storage quota for PWA is 50MB, above which app might show warning depending on the browser. If
            required, we can minimize storage usage by caching particular site paths or assets.</p>
          <h3 class="content-head">Demo :</h3>
          <p>This website caches all assets like html, scripts, css and external fonts using cache storage. So even when
            network connection is weak or offline, site page loads instantly without showing offline page.</p>
          <img alt="PWA storage in chrome developer tool" class="pure-img-responsive"
            src="img/pwa-cache-storage-chrome.jpg">

          <h3 class="content-head">Browser Support :</h3>
          <p>
            <a href="https://caniuse.com/#feat=serviceworkers" target="_blank"><i class="fa fa-link"
                aria-hidden="true"></i>
              90% of users are using modern browser that supports Service Workers</a>
          </p>
        </div>
      </div>
    </div>

    <div class="content ribbon">
      <h2 class="content-head is-center content-head-ribbon">Feature 2: Notification API for alerts</h2>
      <div class="pure-g">
        <div class="l-box-lrg pure-u-1">
          <p>
            In most of our application, we allow users to generate reports from huge amount of data, these tasks usually
            take long duration to complete. During the wait time, the users usually gets distracted and navigate away
            from the site. And currently, there is no other way for users to know whether their report is ready without
            checking the site page frequently.
          </p>
          <p>Using Notification API, we can enhance the user experience by notifying the user using device notification
            system when task is completed and provide him with a clickable notification that brings him back to the
            actual report page. Since this messages are shown using notification system, we can reach the user even if
            he is on another browser tab or even another application.
          </p>
          <h3 class="content-head content-head-ribbon">Demo :</h3>
          <button type="button" id="initiate-notify-demo" class="pure-button">Get Notification permission</button>&nbsp;
          <button type="button" id="notify-alert-demo" class="pure-button">Display an Alert</button>

          <h3 class="content-head content-head-ribbon">Few things to consider :</h3>
          <ul class="styled-list">
            <li>Notification API requires user permission to show notifications from our site. So, this cannot
              completely replace the current in-page notifictaions.</li>
            <li>Based on the device OS and browser, the level of richness in showing the notification may differ.
              Notification display in Latest Operating System supports rich text with images.</li>
          </ul>

          <h3 class="content-head content-head-ribbon">Browser Support :</h3>
          <a href="https://caniuse.com/#feat=notifications" target="_blank"><i class="fa fa-link"
              aria-hidden="true"></i> 75% of users are using modern browser that
            supports Notification API</a>
        </div>
      </div>
    </div>

    <div class="content">
      <h2 class="content-head is-center">Feature 3: Improve user Re-engagement using Push API</h2>
      <div class="pure-g">
        <div class="l-box-lrg pure-u-1">
          <p>One of the best feature of native apps is its ability to re-engage user periodically by displaying relevant
            content through push notifications. Typical notification may be related to on-going discounts/promos/offers,
            latest content from a subscribed channel or news magazine or informing about goal/milestone completion etc.,
          </p>
          <p>So in-case of a news/blog post site; when a new article/news post is published on website, we
            can directly send the notifications to the user's device using Push API to notify/promote the content
            through device notifications center. These messages can be delivered to the user device, even when the
            browser is not open/running. </p>
          <p>This way of alerting helps to re-engage with the interested user or targetted audience, and there by
            bringing in more traffic and returning/loyal visitors to the website.</p>
          <h3 class="content-head">Demo :</h3>
          <button type="button" id="initiate-push-demo" class="pure-button">Initiate Demo (Check Notification
            permission)</button>&nbsp;
          <button type="button" id="push-alert-demo" class="pure-button">Get Subscription info.</button>
          <br />
          <h3 class="content-head">Subscription Information :</h3>
          <textarea name="push-channel-detail" id="push-channel-detail" class="push-channel-detail"></textarea>
          <p>The endpoint is generated by Firebase Cloud Messaging (FCM) a free push service by Google. To respect
            user's privacy - Web Push Protocol allows to use FCM using VAPID, that doesn't require any account
            with FCM service.</p>
          <h3 class="content-head">Browser Support :</h3>
          <p>
            <a href="https://caniuse.com/#feat=serviceworkers" target="_blank"><i class="fa fa-link"
                aria-hidden="true"></i>
              78% of users are using modern browser that supports Push API</a>
          </p>
        </div>
      </div>
    </div>

    <div class="content ribbon">
      <h2 class="content-head content-head-ribbon is-center">Feature 4: Native app like behaviour</h2>
      <div class="pure-g">
        <div class="l-box-lrg pure-u-1">
          <p>PWA provides following native apps like features</p>
          <ul class="styled-list">
            <li>Ability to add PWA to homescreen icon</li>
            <li>It can display pages as fullscreen, standalone, minimal UI or browser</li>
            <li>It can control device orientation</li>
            <li>It can Shows splash screen on load</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer l-box is-center">
      Demo site created to showcase various features of PWA by team - Technocrats
    </div>
  </div>
</body>

</html>